<h1>Filip's Book Library</h1>
<p>Welcome to my book library!</p>

<br><br>
<%= link_to 'Books', books_path %>
<br>
<br>
<%= link_to 'Users', users_path %>
<br>
<br>
<%= link_to 'Rentals', rentals_path %>

